a {
    color:pink;
    text-decoration: none;
}
h1{
    font-size: 60px;
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 0px;
}
#ggrid{
    display: grid;
    grid-template-columns: 150px 1fr;
}
#article{
    padding-left: 20px;
}
#ggrid ul{
    padding-left: 20px;
    border-right: 1px solid black;
    
}
@media(max-width:800px)
{
    #ggrid{
        display: block;
    }
    #ggrid ul{
        border-right: none;
    }
    h1{
        border-bottom: none;
    }
}